.foot{
    background-color: rgb(140, 213, 238);
    margin-top: 300px;
    display:flex;
    flex-direction: column;
}

.lists .outer{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}

.lists .outer .inner{
    margin:40px;
    display: flex;
    flex-direction: column;
}

li{
    font-size: 15px;
    color: black;
}